* {
    box-sizing: border-box;
    font-family: "Arial Black";
    font-weight: bold;
  }
  
  body {
    margin-left: 2%;
    margin-right: 2%;
  }
  
  input[type=text], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  textarea {
    float: left;
    width: 75%;
    height: 100px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 2px;
    resize: none;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    width: 160px;
    background-color: #143ef7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  input[type=submit]:hover {
    background-color: #1621bd;
  }
  
  .container {
    width: 70%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-85 {
    float: left;
    width: 85%;
    margin-top: 6px;
  }
  
  .select-button {
    float: left;
    width: 75%;
    margin-top: 15px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }