* {
  box-sizing: border-box;
  font-family: "Arial Black";
  font-weight: bold;
}

header {
  font-family: Impact, fantasy;
  background-color: #e0ecff;
  border: black;
  border-width: 10px;
  size: 25px;
  text-align: center;
  font-size: 250%;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 5px solid black;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 12%;
  margin-right: 12%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#fff2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}